body {
  margin: 0;
  line-height: 0;
  text-transform: uppercase;
  background-color: #B0E0E6;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: left;
  color: rgb(245, 243, 243);
  font-size: 20px;
  
}

p {
  margin-top: 12em;
  margin-bottom: 5em;
  text-align: center;
  color: rgb(rgb(5, 2, 2), rgb(0, 0, 0), rgb(1, 1, 2))

}

h2 {
  text-align: center;
  margin-bottom: 1.5em;
  color: rgb(245, 243, 243);
  font-size: 70px;

}
h6 {text-align: center;
    color: rgb(245, 243, 243);
    font-size: 10px;
  }